{% extends '_base.html.twig' %}

{% block stylesheets %}
    
{% endblock %}

{% block meta %}
    {#<meta http-equiv="refresh" content="30;url={{ path('escape_exam', {'id' : game.id}) }}" />#}
{% endblock %}

{% block title %}Lancement de l'exam en attente{% endblock %}

{% block body %}
    <a href="{{ path('escape_exam_start', {'id' : game.id}) }}">Démarrer l'exam !</a>
{% endblock %}