{% extends 'base.html.twig' %}

{% block title %}Escape Game - Exam - Admin{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle partie</h1>   
    {% for fil in game.bombe.fils %}
        {{ fil.couleur }}        
    {% endfor %}
    <br/><br/>
    Fil à couper :
    {{ game.bombe.filACouper }}
{% endblock %}
